{% extends "base.html.twig" %}

{% block content %}
    <h1 class="text-4xl font-bold mb-4">{{ content.title }}</h1>

    <div class="prose prose-lg mb-8">
        {{ content.article|raw }}
    </div>
{% endblock %}
